body {
            font-family: 'Comic Sans MS', cursive, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #5AC3B0; /* Light pink background */
        }

        .container {
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: #001F3F;
        }
		
		p {
			color: #001F3F;
		}
		
		.btn {
            display: inline-block;
            padding: 60px 110px;
			margin-top: 100px;
            background-color: #FFD700;
            color: #001F3F;
            text-decoration: none;
            border: none;
            border-radius: 20px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #FFC800;
        }